body{
    background-color: black;
}

.card{
    width: 400px;
    height: 200px;
    box-sizing: border-box;
    padding: 1px 20px;
    background: url('../Imagens/background.png') no-repeat;
    background-size: cover;
    margin: auto;
    margin-top: 10%;
}

a{
    text-decoration: none;
    color: black;
}

.Instagram{
    list-style-image: url(../Imagens/Insta.png);
}

.LinkedIn{
    list-style-image: url(../Imagens/LinkedIn.png);
}

.GitHub{
    list-style-image: url(../Imagens/github.PNG);
}
